// Bottom toolbar
.row.toolbar-row
  .col-xs-8.col-xs-offset-2
    .btn-group.toolbar-buttons
      = link_to asset_path("photos/soccer1.jpg"), class: 'btn btn-default group1' do
        %span.glyphicon.glyphicon-resize-full
        View
      = link_to asset_path("photos/soccer2.jpg"), class: 'btn btn-default group1 invisible' do
        %span.glyphicon.glyphicon-resize-full
        View
      %a.btn.btn-default{href: "edit"}
        %span.glyphicon.glyphicon-pencil
        Edit
      %button.btn.btn-default{"data-target" => "#delete", "data-toggle" => "modal", type: "button"}
        %span.glyphicon.glyphicon-remove
        Delete
      %button.btn.btn-default{"data-target" => "#share", "data-toggle" => "modal", type: "button"}
        %span.glyphicon.glyphicon-share
        Share
      %button.btn.btn-default{"data-target" => "#tag", "data-toggle" => "modal", type: "button"}
        %span.glyphicon.glyphicon-tag
        Tag
      %button.btn.btn-default{type: "button"}
        %span.glyphicon.glyphicon-print
        Print
      %button.btn.btn-default{"data-target" => "#moment", "data-toggle" => "modal", type: "button"}
        %span.glyphicon.glyphicon-new-window
        Mark As Moment

// Share Modal
#share.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "shareLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#shareLabel.modal-title Share Photos
      .modal-body
        %h6 Share These Photos
        .row
          .col-xs-4
            = image_tag 'photos/soccer1.jpg', class: 'img-thumbnail'
          .col-xs-4
            = image_tag 'photos/soccer2.jpg', class: 'img-thumbnail'
          .col-xs-4
            = image_tag 'photos/soccer3.jpg', class: 'img-thumbnail'
        %h6 Through ...
        .row
          .col-xs-2
            = image_tag 'facebook.png', class: 'social-icon img-selectable'
            %p.text-center Facebook
          .col-xs-2
            = image_tag 'twitter.png', class: 'social-icon img-selectable'
            .row
              %p.text-center Twitter
          .col-xs-2
            = image_tag 'google_plus.png', class: 'social-icon img-selectable'
            %p.text-center Google+
          .col-xs-2
            = image_tag 'email.png', class: 'social-icon img-selectable'
            %p.text-center Email
          .col-xs-2
            %a{href: "#"}
              = image_tag 'more.png', class: 'social-icon img-selectable'
            %p.text-center More
        .row
          .col-xs-12
            %form{"role" => "form"}
              .form-group
                %label Comment
                %textarea.form-control{"rows" => 3}

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
        %a.btn.btn-primary{href: "photos_flash"} Share


// Tag Modal
#tag.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "shareLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#shareLabel.modal-title Tag Photos
      .modal-body
        %h6 Tag These Photos
        .row
          .col-xs-4
            = image_tag 'photos/soccer1.jpg', class: 'img-thumbnail'
          .col-xs-4
            = image_tag 'photos/soccer2.jpg', class: 'img-thumbnail'
          .col-xs-4
            = image_tag 'photos/soccer3.jpg', class: 'img-thumbnail'
        %h6 With ...
        .row
          .col-xs-12
            %form{"role" => "form"}
              %input{"input" => "text", "class" => "form-control", "placeholder" => "Tags seperated by comma"}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
        %a.btn.btn-primary{href: "photos_flash"} Save

// Moment Modal
#moment.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "shareLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#shareLabel.modal-title Mark As Moment
      .modal-body
        %h6 Mark These Photos
        .row
          .col-xs-4
            = image_tag 'photos/soccer1.jpg', class: 'img-thumbnail'
          .col-xs-4
            = image_tag 'photos/soccer2.jpg', class: 'img-thumbnail'
          .col-xs-4
            = image_tag 'photos/soccer3.jpg', class: 'img-thumbnail'
        %h6 As ...
        .row
          .col-xs-4
            = image_tag 'moments/soccer_moment.jpg', class: 'img-sig-selectable moment-cover'
            %p.text-center Eric First Soccer Goal
          .col-xs-4
            = image_tag 'moments/pool_moment.jpg', class: 'img-sig-selectable moment-cover'
            %p.text-center Melody Swim
          .col-xs-4
            = image_tag 'moments/hokey_moment.JPG', class: 'img-sig-selectable moment-cover'
            %p.text-center In Home Hockey
          
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
        %a.btn.btn-primary{href: "photos_flash"} Save

// Delete Modal
#delete.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "shareLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#shareLabel.modal-title Delete Photos
      .modal-body
        %h6 Delete These Photos
        .row
          .col-xs-4
            = image_tag 'photos/soccer1.jpg', class: 'img-thumbnail'
          .col-xs-4
            = image_tag 'photos/soccer2.jpg', class: 'img-thumbnail'
          .col-xs-4
            = image_tag 'photos/soccer3.jpg', class: 'img-thumbnail'
        %h3 Are you sure?
        %p This action cannot be undone
          
      .modal-footer
        %a.btn.btn-primary{href: "photos_flash"} Save
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} No