.row
  .col-xs-12
    %h2 All Tags
    %hr
    
    = link_to click_tag_path, class: 'tag-link' do
      %span.label.label-primary.search-term Eric
    
    = link_to click_tag_path, class: 'tag-link' do
      %span.label.label-primary.search-term Soccer
    
    = link_to click_tag_path, class: 'tag-link' do
      %span.label.label-primary.search-term Eric Birthday
    
    = link_to click_tag_path, class: 'tag-link' do
      %span.label.label-primary.search-term Melody Piano

    = link_to click_tag_path, class: 'tag-link' do
      %span.label.label-primary.search-term Melody